:host {
  --gap: 8px;
  --kg-color: var(--cs-color-red);
}

blockquote {
  border-radius: 8px;
  border-color: var(--kg-color);
  border-left-color: var(--kg-color);
}

blockquote p.cite, blockquote p.kg-cite {
  padding: 1em;
  text-align: right;
  display: block;
  font-weight: bold;
}

blockquote p.quote:before, blockquote p.kg-quote:before {
  content: open-quote;
  font-size: 24pt;
  text-align: center;
  line-height: 42px;
  color: #fff;
  background: #a7a49f;
  float: left;
  position: relative;
  border-radius: 25px;
  margin-right: 0.5em;
  vertical-align: -0.4em;
  display: block;
  height: 25px;
  width: 25px;
}

blockquote p.quote:after, blockquote p.kg-quote:after {
  content: close-quote;
  font-size: 24pt;
  text-align: center;
  line-height: 42px;
  color: #fff;
  background: #a7a49f;
  float: right;
  position: relative;
  border-radius: 25px;
  margin-right: 1em;
  vertical-align: -0.5em;
  display: block;
  height: 25px;
  width: 25px;
}

blockquote p.quote:hover:after, blockquote p.quote:hover:before, blockquote p.kg-quote:hover:after, blockquote p.kg-quote:hover:before {
  background-color: var(--kg-color);
  transition: all 350ms;
  -o-transition: all 350ms;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
}

h1 {
  border-bottom: none;
}

div.icons img, div.kg-icons img {
  max-width: 200px;
  max-height: 200px;
}

div.kg-gallery, div.char-gallery {
  --columns: 4;
}

div.kg-gallery img {
  transition: all 0.5s ease;
}

div.kg-gallery a:hover img {
  transform: scale(3.0);
  transform-origin: right bottom;
}

div.ideas, div.kg-ideas {
  --flex: 1 1 50%;
  flex-wrap: wrap;
}

div.ideas > *, div.kg-ideas > * {
  width: 48%;
  border: 1px groove var(--color-border);
  border-radius: 5px;
  background-color: var(--color-bg);
  padding: 10px;
  margin: 5px;
}

div.playlist img, div.kg-playlist img {
  max-width: 100px;
  max-height: 100px;
}

details.kg-gallery {
  width: 49%;
  display: inline-block;
}

.kg-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: var(--gap) calc(-1 * var(--gap)) 0;
  background: linear-gradient(to right, currentColor, transparent);
}

.kg-hub {
  background-color: var(--color-surface);
  border-radius: 0.4em;
}

.kg-hub a {
  border: 0;
  color: white;
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.kg-hub a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0;
}

.kg-kristian {
  border: 1px groove var(--cs-color-dull-red);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-vygo {
  border: 1px groove var(--cs-color-purple);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-val {
  border: 1px groove var(--cs-color-gray);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-asami {
  border: 1px groove var(--cs-color-red);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-steve {
  border: 1px groove var(--cs-color-dull-blue);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-remy {
  border: 1px groove var(--cs-color-pink);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-loki, .kg-shulk {
  border: 1px groove var(--cs-color-green);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-lloki, .kg-jenn {
  border: 1px groove var(--cs-color-dull-green);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-kent {
  border: 1px groove var(--cs-color-blue);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-supe {
  border: 1px groove var(--cs-color-red);
  border-radius: 5px;
  background: var(--color-bg);
}

.kg-dropdown {
  border: 1px groove var(--cs-color-white);
  border-radius: 5px;
  background: var(--color-bg);
}

div.kg-kristian, div.kg-asami, div.kg-steve, div.kg-remy, div.kg-vygo, div.kg-val, div.kg-loki, div.kg-profile-loki, div.kg-profile-lloki, div.kg-profile-aloki,
div.kg-profile-shulk, div.kg-profile-jenn, div.kg-profile-jwsh, div.kg-profile-kent, div.kg-profile-supe, div.kg-profile-cksm {
  height: auto;
  transition: 0.33s 0.33s ease-out allow-discrete;
  transform-origin: left top;
  transform: scaleY(1);
  padding: 10px;
}

.cs-tabs:not(:has(.cs-tab-a:open)) div.kg-kristian, .cs-tabs:not(:has(.cs-tab-b:open)) div.kg-asami, .cs-tabs:not(:has(.cs-tab-c:open)) div.kg-steve,
.cs-tabs:not(:has(.cs-tab-d:open)) div.kg-remy, .cs-tabs:not(:has(.cs-tab-e:open)) div.kg-vygo, .cs-tabs:not(:has(.cs-tab-f:open)) div.kg-val,
.cs-tabs:has(.cs-tab:open) div.kg-loki,
.cs-tabs:not(:has(.cs-tab-a:open)) div.kg-profile-loki, .cs-tabs:not(:has(.cs-tab-b:open)) div.kg-profile-lloki, .cs-tabs:has(.cs-tab:open) div.kg-profile-aloki,
.cs-tabs:not(:has(.cs-tab-a:open)) div.kg-profile-shulk, .cs-tabs:not(:has(.cs-tab-b:open)) div.kg-profile-jenn, .cs-tabs:has(.cs-tab:open) div.kg-profile-jwsh,
.cs-tabs:not(:has(.cs-tab-a:open)) div.kg-profile-kent, .cs-tabs:not(:has(.cs-tab-b:open)) div.kg-profile-supe, .cs-tabs:has(.cs-tab:open) div.kg-profile-cksm {
  height: 0;
  overflow: hidden;
  display: block;
  border: 0px none;
  padding: 0;
  margin: 0;
  transition: 0.33s ease-in allow-discrete;
  transform-origin: left top;
  transform: scaleY(0)
}

details[open].kg-kristian, details[open].kg-asami, details[open].kg-steve, details[open].kg-remi, details[open].kg-vygo, details[open].kg-val, details[open].kg-dropdown {
  background: var(--color-border);
}

.kg-tooltip {
  position: absolute;
  top: 0%;
  left: -5000%;
  opacity: 0;
  min-width: 150%;
  --background: alpha(from var(--color-bg) / 66%);
  background: #1a1a1aaa;
  backdrop-filter: blur(7px);
  border-radius: 6px;
  color: var(--cs-color-white);
  padding: 6px 10px;
  transform: translate(-50%, -95%);
  transition: opacity 0.2s, transform 0.4s;
  z-index: -1000;
}

.kg-tt-wrapper {
  position: relative;
  display: inline-block;
}

.kg-tt-hover:hover + .kg-tooltip {
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -100%);
  z-index: 100;
}

.kg-details dl {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background-color: #333;
  color: #fff;
}

.kg-details dt {
  flex-basis: 33%;
  padding: 2px 4px;
  text-align: right;
  text-align-last: right;
  font-weight: bold;
  border-right: 1px solid #ffaa9f;
  border-bottom: 1px solid #ddd;
}

.kg-details dd {
  flex-basis: 66%;
  flex-grow: 1;
  margin: 0;
  margin-left: 2px;
  padding: 2px 4px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ffaa9f;
}

.kg-glitch {
  animation: kg-glitch-anim 8s steps(1) infinite;
}

@keyframes kg-glitch-anim {
  0%, 90%, 100% { clip-path: none; transform: none; }
  92.5% { clip-path: inset(20% 0 60% 0); transform: translateX(-4px); }
  95% { clip-path: inset(60% 0 10% 0); transform: translateX(4px); }
  97.5% { clip-path: inset(40% 0 40% 0); transform: translateX(-2px); }
}

.hover-image {
  align-self: center;
  justify-self: stretch;
  flex: 1;
  position: relative;
  min-height: 500px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% center;
  }

  & .hover-on {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  &:hover .hover-on {
    opacity: 1;
  }
}

.hover-img, .kg-hover-img {
  display: flex;
  position: relative;

  & img {
    margin: 0;
  }

  & .when-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s opacity;
  }

  & .hover-handle {
    position: absolute;
    inset: 0;
    z-index: 99;

    &:hover {
      /* background: rgba(255 255 255 / 0.5); */
    }
  }

  & .hover-left {
    /* background: rgba(255 0 0 / 0.5); */
    right: 50%;
    bottom: -4px;
    &:hover {
      border-bottom: 4px solid white;
    }
  }

  & .hover-right {
    /* background: rgba(0 0 255 / 0.5); */
    left: 50%;
    bottom: -4px;
    &:hover {
      border-bottom: 4px solid white;
    }
  }

  &:hover .when-hover-left {
    opacity: 1;
    transition-delay: 0s;
  }

  &:has(.hover-right:hover) .when-hover-right {
    opacity: 1;
    transition-delay: 0s;
  }
}

.flow-gallery, .kg-flow-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: max-content;
  gap: 10px;
  margin: 10px auto;

  & a {
    display: flex;
    border-radius: 50%;

    &:hover {
      border-bottom: 0 transparent;
    }
  }

  & img {
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0;
  }
}