.kg-hub {
  background-color: var(--color-surface);
  border-radius: 0.4em;
}

.kg-hub a {
  border: 0;
  color: white;
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.kg-hub a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0;
}

div.icons img {
  max-width: 200px;
  max-height: 200px;
}

div.gallery {
  --columns: 4;
}

div.gallery img {
  transition: all 0.5s ease;
}

div.gallery img:hover {
  transform: scale(3.0);
}

div.char-gallery {
  --columns: 4;
}

div.ideas {
  --flex: 1 1 50%;
  flex-wrap: wrap;
}

div.ideas > * {
  width: 48%;
  border: 1px groove var(--color-border);
  border-radius: 5px;
  background-color: var(--color-bg);
  padding: 10px;
  margin: 5px;
}

div.playlist img {
  max-width: 100px;
  max-height: 100px;
}

details.gallery {
  width: 49%;
  display: inline-block;
}

details#photographic:not(:open) ~ div#content-photographic {
  display: none;
}

details#artwork:not(:open) ~ div#content-artwork {
  display: none;
}

details#one:not(:open) ~ div#content-one {
  display: none;
}

details#two:not(:open) ~ div#content-two {
  display: none;
}

details#three:not(:open) ~ div#content-three {
  display: none;
}

details#four:not(:open) ~ div#content-four {
  display: none;
}

details#five:not(:open) ~ div#content-five {
  display: none;
}

details#six:not(:open) ~ div#content-six {
  display: none;
}

h1 {
  border-bottom: none;
}

.hover-image {
  align-self: center;
  justify-self: stretch;
  flex: 1;
  position: relative;
  min-height: 500px;
  

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% center;
  }

  & .hover-on {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  &:hover .hover-on {
    opacity: 1;
  }
}

.flow-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: max-content;
  gap: 10px;
  margin: 10px auto;

  & a {
    display: flex;
    border-radius: 50%;

    &:hover {
      border-bottom: 0 transparent;
    }
  }

  & img {
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0;
  }
}